.resizeGrid {
  &.autofit {
    .ant-table table {
      // width: auto;
    }
  }
  .ant-table table {
    // min-width: 100%;
    // max-width: max-content;
    user-select: none;
    table-layout: auto !important;
    .ant-table-cell {
      min-width: 150px;
      &:not(.ant-table-cell-ellipsis) {
        // width: max-content;
        // width: 500px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    th{
      &.ant-table-cell:not(.ant-table-cell-ellipsis){
          background-color: beige;
      }
    }
  }
}